<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.example.cryptopass"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <service android:exported="false" android:name=".ActionService">
            <intent-filter>
                <action android:name="org.example.cryptopass.SAVE"/>
                <action android:name="org.example.cryptopass.DELETE"/>
                <data android:scheme="content"/>
            </intent-filter>
        </service>

        <activity android:name=".v8.StartActivity"
                  android:label="@string/app_name"
                  android:enabled="@bool/preHoneycomb">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".v8.MainActivity"
                  android:enabled="@bool/preHoneycomb"
                  android:exported="false"
                  android:windowSoftInputMode="stateAlwaysVisible|adjustResize">

            <intent-filter>
                <action android:name="org.example.cryptopass.SHOW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
            </intent-filter>
        </activity>

        <activity android:name=".v11.StartActivity"
                  android:label="@string/app_name"
                  android:enabled="@bool/postHoneycomb">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider android:authorities="org.example.cryptopass"
                  android:name=".data.DataProvider"
                  android:exported="false"/>
    </application>
</manifest>