<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.example.cryptopass"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <application android:label="@string/app_name" android:icon="@drawable/icon" android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".v8.StartActivity"
                  android:label="@string/app_name"
                  android:enabled="@bool/preHoneycomb">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".v8.MainActivity"
                  android:enabled="@bool/preHoneycomb"
                  android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
        </activity>

        <activity android:name=".v11.StartActivity"
                  android:label="@string/app_name"
                  android:enabled="@bool/postHoneycomb">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>