<?xml version="1.0" encoding="utf-8"?>
<manifest package="krasilnikov.alexey.cryptopass"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application android:name=".MainApplication"
                 android:allowBackup="true"
                 android:fullBackupContent="true"
                 android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
                 tools:ignore="GoogleAppIndexingWarning">
        <service android:name="krasilnikov.alexey.cryptopass.ActionService"
                 android:exported="false">
            <intent-filter>
                <action android:name="krasilnikov.alexey.cryptopass.SAVE" />
                <action android:name="krasilnikov.alexey.cryptopass.DELETE" />
                <action android:name="krasilnikov.alexey.cryptopass.EXPORT" />

                <data android:scheme="content" />
            </intent-filter>
        </service>

        <activity android:name="krasilnikov.alexey.cryptopass.v8.StartActivity"
                  android:enabled="@bool/atMostHoneycomb"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="krasilnikov.alexey.cryptopass.v8.MainActivity"
                  android:enabled="@bool/atMostHoneycomb"
                  android:exported="false"
                  android:windowSoftInputMode="stateAlwaysVisible|adjustResize">

            <intent-filter>
                <action android:name="krasilnikov.alexey.cryptopass.SHOW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>

        <activity android:name="krasilnikov.alexey.cryptopass.v14.StartActivity"
                  android:enabled="@bool/atLeastIceScreamSandwich"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider android:name="krasilnikov.alexey.cryptopass.data.DataProvider"
                  android:authorities="${applicationId}"
                  android:grantUriPermissions="true" />
    </application>
</manifest>